<div class="container">
  <h1>Registration</h1>
  <div class="formBox">
    <h1>Account information</h1>
    <div *ngIf="displayUser">
      <p>Thank you for registering with us {{ displayUser.first_name }}. We just sent you a virus to {{ displayUser.email }}, and we will send all anthrax and firebombs to {{ displayUser.address }} {{ displayUser.address2 }}, {{ displayUser.city }} {{ displayUser.state }}</p>
      <p>Have a wonderful day.</p>
    </div>
    <form (ngSubmit)="submitMyForm(); formData.resetForm()" #formData="ngForm">
      <table>
        <tr>
          <td>First Name:</td>
          <td>
            <input 
            type="text" 
            name="first_name" 
            required 
            minlength="4" 
            maxlength="24"
            [(ngModel)]="user.first_name"
            #first_name='ngModel'
            />
          </td>
          <td [hidden]="first_name.valid || first_name.pristine">{{first_name.errors | json}}</td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td>
            <input 
            type="text" 
            name="last_name" 
            required 
            minlength="4" 
            maxlength="24"
            [(ngModel)]="user.last_name"
            #last_name='ngModel'
            />
          </td>
          <td [hidden]="last_name.valid || last_name.pristine">{{last_name.errors | json}}</td>
          
        </tr>
        <tr>
          <td>Email:</td>
          <td>        
            <input 
            type="text" 
            name="email" 
            required 
            minlength="4" 
            maxlength="24"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            [(ngModel)]="user.email"
            #email='ngModel'
            />
          </td>
          <td [hidden]="email.valid || email.pristine">{{email.errors | json}}</td>
          
        </tr>
        <tr>
          <td>Password:</td>
          <td>
            <input 
            type="text" 
            name="password" 
            required 
            minlength="16" 
            maxlength="24"
            [(ngModel)]="user.password"
            #password='ngModel'
            />
          </td>
          <td [hidden]="password.valid || password.pristine">{{password.errors | json}}</td>
        </tr>
        
        <tr>
          <td>Password Confirmation:</td>
          <td>
            <input 
            type="text" 
            name="passwordconf" 
            required 
            minlength="16" 
            maxlength="24"
            [(ngModel)]='user.passwordconf'
            #passwordconf='ngModel'
            />
          </td>
          <td [hidden]="password.pristine || password.value == passwordconf.value">Passwords need to match.</td>
          
        </tr>
        <tr>
          <td>Street Address:</td>
          <td><input type="text" name='address' required [(ngModel)]="user.address" #address="ngModel"></td>
          <td [hidden]="address.valid || address.pristine">{{address.errors | json}}</td>          
        </tr>
        <tr>
          <td>Unit/Apt #</td>
          <td><input type="text" name='address2' required [(ngModel)]="user.address2" #address2="ngModel"></td>
          <td [hidden]="address2.valid || address2.pristine">{{address2.errors | json}}</td>          
        </tr>
        <tr>
          <td>City</td>
          <td><input type="text" name='city' required [(ngModel)]="user.city" #city="ngModel"></td>
          <td [hidden]="city.valid || city.pristine">{{city.errors | json}}</td>
          
        </tr>
        <tr>
          <td>State</td>
          <td><input type="text" name='state' required [(ngModel)]="user.state" #state="ngModel"></td>
          <td [hidden]="state.valid || state.pristine">{{state.errors | json}}</td>
          
        </tr>
        <tr>
          <td>I'm feeling lucky</td>
          <td>
            <label for="">Yes</label>
            <input type="radio" name="lucky" id="" #lucky="ngModel" [(ngModel)]="user.lucky" required value="Yes">
            <label for="">No</label>
            <input type="radio" name="lucky" id="" #lucky="ngModel"  [(ngModel)]="user.lucky" required value="No">
          </td>
          <td [hidden]="lucky.valid || lucky.pristine">{{lucky.errors | json}}</td>
          
        </tr>
    
    
      </table>
      <input *ngIf="formData.valid && passwordconf.value == password.value" type="submit">
      <p>{{formData.valid | json}}</p>
    </form>
  </div>
</div>